$primarycolor: lightcoral;
$secondarycolor: lightcyan;
$tertiarycolor: lightgreen;


body {
    background-color: $primarycolor;

    h1 {
        text-align: center;
        color: $primarycolor;
        background-color: $secondarycolor;
    }
    
    p {
        color: $primarycolor;
        background-color: $secondarycolor;
    }

    button {
        color: $primarycolor;
        background-color: $tertiarycolor;
    }
}